* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.canvas_container {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.canvas_container > .canvas {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}